@import url('https://fonts.googleapis.com/css?family=Roboto');
:root {
	--text_color:#009933;/*xanh lá*/
	--text_infor: #5bc0de;
	--clr-primary: #ee6352;
  	--clr-body: #333;
  	--clr-bg: #ddd;
}
body {
	font-family: 'Roboto', sans-serif;
	background: #ffffff; /* fallback for old browsers */
	overflow-x: hidden;
}
/*========== 1.TOP ============*/
/*==============================*/
.top{
	background-color:  #ee6352;
	color: white;
	height: 31px;
	line-height: 30px;
}
.top a{
	color: white;
	text-decoration: none;
}
#top_head li{
	display: inline;
	text-align: right;
	list-style: none;
}
#top_head >li + li:before{
	content: "|";
	color: white;
	padding: 5px;
}


/*========== 2.NAVBAR============*/
/*==============================*/
.navbar{
	background-color: rgba(39, 36, 39, 0.8);
	padding: 0px;
	z-index: 1;

}
.navbar-brand{
	margin-left: 8px;
	color: #fff;
	padding: 0;
}

.menu-area{
	position: static;
}

.mega-area{
	position: absolute;
    /*width: 100%;*/
    left: 0;
    right: 0;
    padding: 15px;
}
.dropdown-item{
	padding: 5px 0;
}
h5{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar-nav .nav-item{
	margin-left: 8px;
}
.navbar-nav .nav-item .nav-link{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
.navbar-nav .nav-item i{
	margin-right: 5px;
}
.navbar-nav .nav-item .nav-link:hover{
	background-color: coral;
}
.dropdown-toggle::after {
	display: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
    transition: 1s;
    margin-top: 0px;
}

/*========== 3.SEARCH============*/
/*==============================*/
.search {
	box-sizing: border-box;
	--size: 50px;
	border: 2px solid var(--clr-primary);
	display: flex;
	border-radius: 100px;
	overflow: hidden;
	font-size: 1.25em;
	position: relative;
	width: var(--size);
	height: var(--size);
	transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	padding: 3px;
	margin-left: 30px;
}

.search__input {
	border: 0;
	padding: .25em 1em;
	flex-grow: 1;
	outline: 0;
	z-index: 2;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: transparent;
	opacity: 0;
	cursor: pointer;
}

.search__submit {
	font-size: 1.5rem;
	margin-left: auto;
	background: 0;
	border: 0;
	cursor: pointer;
	border-radius: 50%;
	transition: background 200ms ease-out;
	width: calc(var(--size) - 10px);
	height: calc(var(--size) - 10px);
	color: var(--clr-body);
}

.search:hover {
	width: 200px;
	transition: 1s;

}
 .search__input {
	opacity: 1;
	z-index: initial;
    cursor: initial;
    width: calc(100% - var(--size));
    color: white;
}
::placeholder{
	color: white;
	opacity: .6;
}
.search__submit {
    background: var(--clr-primary);
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
}
/*========== 4.HEAD============*/
/*==============================*/
#head{
	padding-bottom: 20px;
}
#head_col1{
	padding-left: 20px;
}
/*========== 5.Slide ============*/
/*==============================*/
.slider1{
    margin-bottom: 40px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
	height: 50px;
	width: 50px;
	outline: white;
	background-size: 100%, 100%;
  	border-radius: 50%;
  	border: 2px solid red;
  	background-image: none;
  	background-color: white;
   
}
.tales {
	width: 100%;
}
.carousel-inner{
	width:100%;
	max-height: 700px !important;
}
.carousel-control-next-icon:after
{
	content: '>';
	font-size: 32px;
	color: red;
	opacity:.7;
	font-weight: bold;

}

.carousel-control-prev-icon:after {
	content: '<';
	font-size: 32px;
	color: red;
	opacity:.7;
	font-weight: bold;
}
.carousel-indicators li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

/*========== 6.BRAND CLOTHINGS ============*/
/*==============================*/
.brand-clothings{
}
.brand-clothings img{
	height: 90px;
	width: 100%;
}
.brand-clothings-over{
    text-align: center;
    background: #ffffff;
    margin: 0 0 18px;
    box-sizing: border-box;
    border: solid 1px #e6e6e6;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, .9);
}
/*========== 7.FOOTER ============*/
/*==============================*/
.footer_top{
	background-color:black ;
	opacity: 0.8;
}
.footer_top i{
	color: var(--text_color);
	font-size: 25px;
}
.footer_top i:hover{
	color: red !important;
}

.info_footer{
	background-color: #000000;  
	opacity: 0.8;
	color: white;
}
.info_footer a{
	text-decoration: none;
	color: white;
}
.footer-copyright{
	background-color: black;
	color: white;
	text-align: center;
}
.footer-copyright a{
	color: var(--text_color);
	font-weight: bold;
}

/*========== 8.INTRODUCTION ============*/
/*==============================*/

.introduction .card {
	margin: 1rem auto;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 5px;
}
.introduction .card img{
	height: 300px;
	transition:1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.introduction .card img:hover{
	transform: scale(1.1);
	
}
.introduction .card-body {
	z-index: 2;
	position: absolute;
	left: 30%;
	top: 30%;
	text-align: center;
}

.introduction .card-body > h3{
	font-weight: bold;
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	display: table;
	border: 2px solid white;
	border-radius: 5px;
	padding: 4px;
}
.introduction .card-body > h4{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.introduction{
	width: 95%;
	margin: 0 auto;
	padding: 0;
}
.introduction .card-body > h3:hover{
	background: linear-gradient(to right top, #17c760, #62cb54, #8bce4d, #aed04a, #cdd24d, #dbc841, #e9bd39, #f5b136, #f79623, #f8771b, #f7541f, #f31e28);
	cursor: pointer;
	color: black;
	opacity:.8;
	border-bottom: 3px solid green;
	transition: 0.4s all ease-in-out;
}
.introduction .card-body .btn:hover{
	background:green !important;
	border: 2px solid black;
	opacity: .8;
	font-weight: bold;
	transition: 0.4s all ease-in-out;
}

/*========== 9.FEATURED PRODUCTS ============*/
/*==============================*/
.feature{
	padding: 15px;
}
.feature h1{
	font-weight: 700;
	color: coral;
	text-align: center;
}
.feature h1:after {
    content:' ';
    display:block;
    border:1px solid black;
    width: 200px;
    border-radius: 4px;
    background-color:black;
    height: 1px;
    text-align: center;
    margin: 10px auto;
}
/*========== 10.HOME PRODUCT ============*/
/*==============================*/
.home_product{
	width: 100%;
	margin-top: 30px;
	font-family:sans-serif;
	letter-spacing: 1px;
}
.home_product h2{
	background-color: #0062cc;
	color: #ffffff;
	width: 200px;
	font-size: 24px;
	padding: 5px;
	height: 40px;
}
.home_product h2::after{
	content: '';
	border-top: 40px solid #0062cc;
	border-right: 40px solid transparent;
	position: relative;
	left: 33px;
	top: 35px;
}
.home_product .row{
	margin-top: 30px;
}
.Hproduct_top{
	overflow: hidden;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.Hproduct_top img{
	width: 100%;
	height: 350px;
}
.Hproduct_content{
	text-align: center;
	border-right: 3px solid green;
	border-left: 3px solid green;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.Hproduct_content .fa{
	color: #28a745;
	font-size: 10px;
}
.Hproduct_content h3{
	font-size: 20px;
	font-weight: bold;
	color: red;
}
.Hproduct_content h5{
	font-size: 15px;
	padding-bottom: 10px;
	color: coral;
}
.overlay{
	display: block;
	opacity: 0;
	position: absolute;
	top: 10%;
	margin-left: 0;
	width: 90px;
}
.Hproduct_top:hover .overlay{
	opacity: 1;
	margin-left: 5%;
	transition: 0.5s;
}
.Hproduct_top img{
	transition: transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.Hproduct_top:hover img{
	transform: scale(1.1);
}
.overlay .fa{
	cursor:  pointer;
	background-color: #fff;
	color: #000;
	height: 35px;
	width: 35px;
	font-size: 20px;
	padding: 7px;
	margin: 5%;
	margin-bottom: 5%;
}
.overlay .btn-secondary{
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
}
.Hproduct_card{
	margin-bottom: 10px;
	padding: .1px;
}
.Hproduct_card:hover{
	box-sizing: border-box;
	box-shadow: 2px 1px grey;
	index-z: 1;
	border-radius: 5px;
	transition: .8s;
}

.cardadd .fa{
	margin-right: 5px;
	font-size: 15px;
}
button.cardadd{
	border: none;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	font-weight: bold;
	height: 35px;
}
button.cardadd:hover{
	border-bottom: 3px solid green;
	border-top: 3px solid green;
	transition: .6s;
	font-size: 17px;
}
.sale{
	display: block;
	position: absolute;
	left: 10%;
	top: 3%;
	border-radius: 50%;
	color: white;
	background-color: red;
	padding: 2px;
	font-weight: bold;
	opacity: .8;
}
.Hproduct_top:hover .sale{
	opacity: 0;
	transition: 1s;
}
/*========== 10.HEAD ============*/
/*==============================*/
#head{
	width: 98%;
	margin: 0 auto;
}
/*========== 11.FOUR_FEATURES ============*/
/*==============================*/
.over_four_feature{
	background-color: black;
	opacity: .9;
}
.four_features{
	margin: 0 auto;
	width: 95%;
	padding: 10px;
	text-align: center;
}


.four_features i{
	font-size: 45px;
	padding-right: 10px;
	color: white;
}
.four_features h4{
	padding-top: 2%;
	color: white;
	
}

/*========== 12.MOBILE ============*/
/*==============================*/
@media(max-width: 900px){
	.top{
		height: auto;
		text-align: center;

	}
	.slider1{
    margin-top: 40px;
	}
	.search{
		margin-left: 8px;
	}
	.footer-copyright p{
		text-align: center;
	}
}


/*========== 13.SHOP page ============*/
/*==============================*/
.sidebar::after{
	content: "";
	background-color: red;
	
}

.shop{
	width: 95%;
	margin: 0 auto;
}

.shop li{
	list-style: none;
	text-align: center;
}
.shop li a{
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-weight: bold;

}
.shop li a:hover{
	color: coral;
}
.card-header{
	font-size: 20px;
	color: white !important;
	background-color: black !important;
	opacity: .7;
	text-align: center;
	border-radius: 0 !important;
	border-bottom-right-radius: 75px !important;
	border-top: 2px solid black;
	padding: 0;
}
#men,#women,#phukien{
	text-align: left;
	font-weight: bold;
	font-size: 15px;
}
.card{
	border-right: none;
	border-bottom: none;
	border-radius: 0 !important;
}
label::before{
	content: "***";
	margin-right: 5px;
	border-radius: 5px;
	display: inline	;
	position: 	relative;
}

label.form-check-label1::before{
	color: red;
	background-color: red;

}
label.form-check-label2::before{
	color: green;
	background-color: green;
}
label.form-check-label3::before{
	color: yellow;
	background-color: yellow;
}
label.form-check-label4::before{
	color: black;
	background-color: black;
}
.shop_banner{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 5px;
}
.shop_banner img{
	width: 100%;
	height: 280px;
}
/*========== 14.SHOP-Bottom-bar ============*/
/*==============================*/
.page-item{
	margin: 0;
	padding: 0;
}
